<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1>SushiO</h1>
            <p class="lead">The Blue Team is the best team</p>
        </div>
        <div class="col-md-6">
            <img src="http://i1.ytimg.com/vi/bvh3N5U-78c/maxresdefault.jpg" alt="panda as fuck" style="width:100%" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Place a new order", "Create", "Orders", new { area = "" }, null)</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Update the Menu", "Index", "MenuItems", new { area = "" }, null)</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("View Orders", "Index", "Orders", new { area = "" }, null)</h2>
    </div>
</div>
